In [1]:
import pathlib
import json
import pandas as pd
from datetime import datetime, timedelta
import numpy as np
import matplotlib.pyplot as plt
from tqdm import tqdm
# !pip install folium
import folium

from pathlib import Path

from collections import Counter

## Analyse data

In [2]:
df_sum = None
for df_path in tqdm(list(Path("../data/local/tables/").iterdir())[-10:]):
    if df_sum is None: 
        df_sum = pd.read_csv(df_path, encoding='utf-8', low_memory=False)
    else : 
        df_sum.append(pd.read_csv(df_path, encoding='utf-8', low_memory=False))

100%|██████████| 10/10 [00:10<00:00,  1.03s/it]

In [3]:
df_sum[df_sum.duplicated()]

Empty DataFrame
Columns: [id, imei, name, stateCode, stateName, lat, lng, speed, orientation, gpstime, routeId, routeName, routeColour, inDepo, busNumber, perevId, perevName, remark, online, idBusTypes]
Index: []

In [4]:
df_sum.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 280232 entries, 0 to 280231
Data columns (total 20 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   id           280232 non-null  int64
 1   imei         280232 non-null  int64
 2   name         280232 non-null  object
 3   stateCode    280232 non-null  object
 4   stateName    280232 non-null  object
 5   lat          280232 non-null  float64
 6   lng          280232 non-null  float64
 7   speed        280232 non-null  float64
 8   orientation  280232 non-null  float64
 9   gpstime      280232 non-null  object
 10  routeId      280232 non-null  int64
 11  routeName    280232 non-null  object
 12  routeColour  280232 non-null  object
 13  inDepo       280232 non-null  bool
 14  busNumber    280232 non-null  object
 15  perevId      280232 non-null  int64
 16  perevName    280232 non-null  object
 17  remark       280232 non-null  object
 18  online       280232 non-null  bool
 19  idBusTypes   280232 non-null  int64
dtypes: bool(2), float64(4), int64(5), object(9)
memory usage: 39.0+ MB

### SQL Shema bouild

In [7]:
df_sum['inDepo'].value_counts()

False    271876
True       8356
Name: inDepo, dtype: int64

In [61]:
# df_sum[['routeId', 'routeName', 'routeColour']].value_counts()
# df_sum[['imei', 'name', 'busNumber', 'perevId']].value_counts()
df_sum[['idBusTypes']].value_counts()

idBusTypes
1             200704
2              79528
dtype: int64

In [63]:
df_sum[['imei', 'name', 'busNumber', 'perevId', 'idBusTypes']].value_counts()

imei             name  busNumber  perevId  idBusTypes
355227045371655  A1    6513       7        1             5521
355227046638821  A211  1181       13       1             5328
355228042084283  A207  1032       13       1             5239
355227045540192  A91   7762       1        1             4498
355227044854750  A22   7665       1        1             4483
                                                         ...
355228043199080  H103  8716       12       1               18
355227045539491  Am86  1027       2        1               10
355228043162351  H107  9138       12       1                5
355227045600855  A142  377        6        2                2
355227046447371  H65   355        6        2                1
Length: 98, dtype: int64

In [42]:
a = df_sum[['remark']].value_counts()

In [57]:
df_sum[df_sum['imei'] == 355227045541257][['imei', 'name', 'busNumber', 'remark']].value_counts()

imei             name  busNumber  remark
355227045541257  A57   9043       0325 DNSNK    2007
                                  9043 DNSNK    1870
dtype: int64

In [53]:
from collections import Counter

In [58]:
# Counter([k[0] for k in a.to_dict()])

In [59]:
# a.to_dict()

0   id           280232 non-null  int64  

### USELESS ?!
 3   stateCode    280232 non-null  object #only value is 'used'
 
 4   stateName    280232 non-null  object #only value is 'used'
 
 18  online       280232 non-null  bool   #only value is 'True'
 

### ROUTES
 10  routeId      280232 non-null  int64  
 
 11  routeName    280232 non-null  object 
 
 12  routeColour  280232 non-null  object 
    

### OWNER
 15  perevId      280232 non-null  int64  
 
 16  perevName    280232 non-null  object 


### WEEHCLE 
 1   imei         280232 non-null  int64  
 
 2   name         280232 non-null  object 
 
 14  busNumber    280232 non-null  object 
 
 17  remark       280232 non-null  object 
 
 19  idBusTypes   280232 non-null  int64  

### GPS
 5   lat          280232 non-null  float64
 
 6   lng          280232 non-null  float64
 
 7   speed        280232 non-null  float64
 
 8   orientation  280232 non-null  float64
 
 9   gpstime      280232 non-null  object 
 
13  inDepo       280232 non-null  bool   


## CODE 
```
Table rowdata.gpsdata {
id int [pk, increment]
lat float
lng float
speed float
orientation float
gpstime datetime
inDepo bool

routeId int [ref: > E.id]

response_datetime datetime

edited datetime

Indexes {
(id) [pk]
}
}

Table rowdata.vehicle as E {
id int [pk, increment]
imei int
name varchar
busNumber int
remark varchar

perevId int [ref: > O.id]
routeId int [ref: > R.id]

edited datetime

Indexes {
(id) [pk]
}
}

Table rowdata.owner as O {
id int [pk, increment]
perevName varchar
edited datetime

Indexes {
(id) [pk]
}
}

Table rowdata.route as R {
id int [pk, increment]
routeName varchar
routeColour varchar

etited datetime

Indexes {
(id) [pk]
}
}
```

In [2]:
import psycopg2

In [3]:
import os

In [6]:
os.environ['RDS_HOSTNAME'], os.environ['RDS_PTETA_DB_PASSWORD']

('pteta-db-test2.cvulqh76zvum.eu-central-1.rds.amazonaws.com', 'aspjkJ_Bo31')

In [7]:
conn = psycopg2.connect(
    host=os.environ['RDS_HOSTNAME'],
    database="pteta_db",
    user="postgres",
    password=os.environ['RDS_PTETA_DB_PASSWORD'])

In [8]:
type(conn)

psycopg2.extensions.connection

In [9]:
cursor = conn.cursor()

In [10]:
cursor.execute("select * from information_schema.tables")
cursor.fetchall()

[('pteta_db',
  'pteta',
  'gpsdata',
  'BASE TABLE',
  None,
  None,
  None,
  None,
  None,
  'YES',
  'NO',
  None),
 ('pteta_db',
  'pteta',
  'owner',
  'BASE TABLE',
  None,
  None,
  None,
  None,
  None,
  'YES',
  'NO',
  None),
 ('pteta_db',
  'pteta',
  'route',
  'BASE TABLE',
  None,
  None,
  None,
  None,
  None,
  'YES',
  'NO',
  None),
 ('pteta_db',
  'pg_catalog',
  'pg_type',
  'BASE TABLE',
  None,
  None,
  None,
  None,
  None,
  'YES',
  'NO',
  None),
 ('pteta_db',
  'pg_catalog',
  'pg_foreign_table',
  'BASE TABLE',
  None,
  None,
  None,
  None,
  None,
  'YES',
  'NO',
  None),
 ('pteta_db',
  'pteta',
  'vehicle',
  'BASE TABLE',
  None,
  None,
  None,
  None,
  None,
  'YES',
  'NO',
  None),
 ('pteta_db',
  'pg_catalog',
  'pg_roles',
  'VIEW',
  None,
  None,
  None,
  None,
  None,
  'NO',
  'NO',
  None),
 ('pteta_db',
  'pg_catalog',
  'pg_settings',
  'VIEW',
  None,
  None,
  None,
  None,
  None,
  'NO',
  'NO',
  None),
 ('pteta_db',
  'pg_catalog',
  'pg_prepared_statements',
  'VIEW',
  None,
  None,
  None,
  None,
  None,
  'NO',
  'NO',
  None),
 ('pteta_db',
  'pg_catalog',
  'pg_stat_progress_vacuum',
  'VIEW',
  None,
  None,
  None,
  None,
  None,
  'NO',
  'NO',
  None),
 ('pteta_db',
  'pg_catalog',
  'pg_subscription',
  'BASE TABLE',
  None,
  None,
  None,
  None,
  None,
  'YES',
  'NO',
  None),
 ('pteta_db',
  'pg_catalog',
  'pg_attribute',
  'BASE TABLE',
  None,
  None,
  None,
  None,
  None,
  'YES',
  'NO',
  None),
 ('pteta_db',
  'pg_catalog',
  'pg_proc',
  'BASE TABLE',
  None,
  None,
  None,
  None,
  None,
  'YES',
  'NO',
  None),
 ('pteta_db',
  'pg_catalog',
  'pg_class',
  'BASE TABLE',
  None,
  None,
  None,
  None,
  None,
  'YES',
  'NO',
  None),
 ('pteta_db',
  'pg_catalog',
  'pg_attrdef',
  'BASE TABLE',
  None,
  None,
  None,
  None,
  None,
  'YES',
  'NO',
  None),
 ('pteta_db',
  'pg_catalog',
  'pg_constraint',
  'BASE TABLE',
  None,
  None,
  None,
  None,
  None,
  'YES',
  'NO',
  None),
 ('pteta_db',
  'pg_catalog',
  'pg_inherits',
  'BASE TABLE',
  None,
  None,
  None,
  None,
  None,
  'YES',
  'NO',
  None),
 ('pteta_db',
  'pg_catalog',
  'pg_index',
  'BASE TABLE',
  None,
  None,
  None,
  None,
  None,
  'YES',
  'NO',
  None),
 ('pteta_db',
  'pg_catalog',
  'pg_operator',
  'BASE TABLE',
  None,
  None,
  None,
  None,
  None,
  'YES',
  'NO',
  None),
 ('pteta_db',
  'pg_catalog',
  'pg_opfamily',
  'BASE TABLE',
  None,
  None,
  None,
  None,
  None,
  'YES',
  'NO',
  None),
 ('pteta_db',
  'pg_catalog',
  'pg_opclass',
  'BASE TABLE',
  None,
  None,
  None,
  None,
  None,
  'YES',
  'NO',
  None),
 ('pteta_db',
  'pg_catalog',
  'pg_am',
  'BASE TABLE',
  None,
  None,
  None,
  None,
  None,
  'YES',
  'NO',
  None),
 ('pteta_db',
  'pg_catalog',
  'pg_amop',
  'BASE TABLE',
  None,
  None,
  None,
  None,
  None,
  'YES',
  'NO',
  None),
 ('pteta_db',
  'pg_catalog',
  'pg_amproc',
  'BASE TABLE',
  None,
  None,
  None,
  None,
  None,
  'YES',
  'NO',
  None),
 ('pteta_db',
  'pg_catalog',
  'pg_language',
  'BASE TABLE',
  None,
  None,
  None,
  None,
  None,
  'YES',
  'NO',
  None),
 ('pteta_db',
  'pg_catalog',
  'pg_largeobject_metadata',
  'BASE TABLE',
  None,
  None,
  None,
  None,
  None,
  'YES',
  'NO',
  None),
 ('pteta_db',
  'pg_catalog',
  'pg_aggregate',
  'BASE TABLE',
  None,
  None,
  None,
  None,
  None,
  'YES',
  'NO',
  None),
 ('pteta_db',
  'pg_catalog',
  'pg_statistic_ext',
  'BASE TABLE',
  None,
  None,
  None,
  None,
  None,
  'YES',
  'NO',
  None),
 ('pteta_db',
  'pg_catalog',
  'pg_rewrite',
  'BASE TABLE',
  None,
  None,
  None,
  None,
  None,
  'YES',
  'NO',
  None),
 ('pteta_db',
  'pg_catalog',
  'pg_trigger',
  'BASE TABLE',
  None,
  None,
  None,
  None,
  None,
  'YES',
  'NO',
  None),
 ('pteta_db',
  'pg_catalog',
  'pg_event_trigger',
  'BASE TABLE',
  None,
  None,
  None,
  None,
  None,
  'YES',
  'NO',
  None),
 ('pteta_db',
  'pg_catalog',
  'pg_description',
  'BASE TABLE',
  None,
  None,
  None,
  None,
  None,
  'YES',
  'NO',
  None),
 ('pteta_db',
  'pg_catalog',
  'pg_cast',
  'BASE TABLE',
  None,
  None,
  None,
  None,
  None,
  'YES',
  'NO',
  None),
 ('pteta_db',
  'pg_catalog',
  'pg_stat_progress_cluster',
  'VIEW',
  None,
  None,
  None,
  None,
  None,
  'NO',
  'NO',
  None),
 ('pteta_db',
  'pg_catalog',
  'pg_stat_progress_create_index',
  'VIEW',
  None,
  None,
  None,
  None,
  None,
  'NO',
  'NO',
  None),
 ('pteta_db',
  'pg_catalog',
  'pg_stat_progress_basebackup',
  'VIEW',
  None,
  None,
  None,
  None,
  None,
  'NO',
  'NO',
  None),
 ('pteta_db',
  'pg_catalog',
  'pg_user_mappings',
  'VIEW',
  None,
  None,
  None,
  None,
  None,
  'NO',
  'NO',
  None),
 ('pteta_db',
  'pg_catalog',
  'pg_enum',
  'BASE TABLE',
  None,
  None,
  None,
  None,
  None,
  'YES',
  'NO',
  None),
 ('pteta_db',
  'pg_catalog',
  'pg_namespace',
  'BASE TABLE',
  None,
  None,
  None,
  None,
  None,
  'YES',
  'NO',
  None),
 ('pteta_db',
  'pg_catalog',
  'pg_conversion',
  'BASE TABLE',
  None,
  None,
  None,
  None,
  None,
  'YES',
  'NO',
  None),
 ('pteta_db',
  'pg_catalog',
  'pg_depend',
  'BASE TABLE',
  None,
  None,
  None,
  None,
  None,
  'YES',
  'NO',
  None),
 ('pteta_db',
  'pg_catalog',
  'pg_database',
  'BASE TABLE',
  None,
  None,
  None,
  None,
  None,
  'YES',
  'NO',
  None),
 ('pteta_db',
  'pg_catalog',
  'pg_db_role_setting',
  'BASE TABLE',
  None,
  None,
  None,
  None,
  None,
  'YES',
  'NO',
  None),
 ('pteta_db',
  'pg_catalog',
  'pg_tablespace',
  'BASE TABLE',
  None,
  None,
  None,
  None,
  None,
  'YES',
  'NO',
  None),
 ('pteta_db',
  'pg_catalog',
  'pg_auth_members',
  'BASE TABLE',
  None,
  None,
  None,
  None,
  None,
  'YES',
  'NO',
  None),
 ('pteta_db',
  'pg_catalog',
  'pg_shdepend',
  'BASE TABLE',
  None,
  None,
  None,
  None,
  None,
  'YES',
  'NO',
  None),
 ('pteta_db',
  'pg_catalog',
  'pg_shdescription',
  'BASE TABLE',
  None,
  None,
  None,
  None,
  None,
  'YES',
  'NO',
  None),
 ('pteta_db',
  'pg_catalog',
  'pg_ts_config',
  'BASE TABLE',
  None,
  None,
  None,
  None,
  None,
  'YES',
  'NO',
  None),
 ('pteta_db',
  'pg_catalog',
  'pg_ts_config_map',
  'BASE TABLE',
  None,
  None,
  None,
  None,
  None,
  'YES',
  'NO',
  None),
 ('pteta_db',
  'pg_catalog',
  'pg_ts_dict',
  'BASE TABLE',
  None,
  None,
  None,
  None,
  None,
  'YES',
  'NO',
  None),
 ('pteta_db',
  'pg_catalog',
  'pg_ts_parser',
  'BASE TABLE',
  None,
  None,
  None,
  None,
  None,
  'YES',
  'NO',
  None),
 ('pteta_db',
  'pg_catalog',
  'pg_ts_template',
  'BASE TABLE',
  None,
  None,
  None,
  None,
  None,
  'YES',
  'NO',
  None),
 ('pteta_db',
  'pg_catalog',
  'pg_extension',
  'BASE TABLE',
  None,
  None,
  None,
  None,
  None,
  'YES',
  'NO',
  None),
 ('pteta_db',
  'pg_catalog',
  'pg_foreign_data_wrapper',
  'BASE TABLE',
  None,
  None,
  None,
  None,
  None,
  'YES',
  'NO',
  None),
 ('pteta_db',
  'pg_catalog',
  'pg_foreign_server',
  'BASE TABLE',
  None,
  None,
  None,
  None,
  None,
  'YES',
  'NO',
  None),
 ('pteta_db',
  'pg_catalog',
  'pg_policy',
  'BASE TABLE',
  None,
  None,
  None,
  None,
  None,
  'YES',
  'NO',
  None),
 ('pteta_db',
  'pg_catalog',
  'pg_replication_origin',
  'BASE TABLE',
  None,
  None,
  None,
  None,
  None,
  'YES',
  'NO',
  None),
 ('pteta_db',
  'pg_catalog',
  'pg_default_acl',
  'BASE TABLE',
  None,
  None,
  None,
  None,
  None,
  'YES',
  'NO',
  None),
 ('pteta_db',
  'pg_catalog',
  'pg_init_privs',
  'BASE TABLE',
  None,
  None,
  None,
  None,
  None,
  'YES',
  'NO',
  None),
 ('pteta_db',
  'pg_catalog',
  'pg_seclabel',
  'BASE TABLE',
  None,
  None,
  None,
  None,
  None,
  'YES',
  'NO',
  None),
 ('pteta_db',
  'pg_catalog',
  'pg_shseclabel',
  'BASE TABLE',
  None,
  None,
  None,
  None,
  None,
  'YES',
  'NO',
  None),
 ('pteta_db',
  'pg_catalog',
  'pg_collation',
  'BASE TABLE',
  None,
  None,
  None,
  None,
  None,
  'YES',
  'NO',
  None),
 ('pteta_db',
  'pg_catalog',
  'pg_partitioned_table',
  'BASE TABLE',
  None,
  None,
  None,
  None,
  None,
  'YES',
  'NO',
  None),
 ('pteta_db',
  'pg_catalog',
  'pg_range',
  'BASE TABLE',
  None,
  None,
  None,
  None,
  None,
  'YES',
  'NO',
  None),
 ('pteta_db',
  'pg_catalog',
  'pg_transform',
  'BASE TABLE',
  None,
  None,
  None,
  None,
  None,
  'YES',
  'NO',
  None),
 ('pteta_db',
  'pg_catalog',
  'pg_sequence',
  'BASE TABLE',
  None,
  None,
  None,
  None,
  None,
  'YES',
  'NO',
  None),
 ('pteta_db',
  'pg_catalog',
  'pg_publication',
  'BASE TABLE',
  None,
  None,
  None,
  None,
  None,
  'YES',
  'NO',
  None),
 ('pteta_db',
  'pg_catalog',
  'pg_publication_rel',
  'BASE TABLE',
  None,
  None,
  None,
  None,
  None,
  'YES',
  'NO',
  None),
 ('pteta_db',
  'pg_catalog',
  'pg_subscription_rel',
  'BASE TABLE',
  None,
  None,
  None,
  None,
  None,
  'YES',
  'NO',
  None),
 ('pteta_db',
  'pg_catalog',
  'pg_group',
  'VIEW',
  None,
  None,
  None,
  None,
  None,
  'YES',
  'NO',
  None),
 ('pteta_db',
  'pg_catalog',
  'pg_user',
  'VIEW',
  None,
  None,
  None,
  None,
  None,
  'NO',
  'NO',
  None),
 ('pteta_db',
  'pg_catalog',
  'pg_policies',
  'VIEW',
  None,
  None,
  None,
  None,
  None,
  'NO',
  'NO',
  None),
 ('pteta_db',
  'pg_catalog',
  'pg_rules',
  'VIEW',
  None,
  None,
  None,
  None,
  None,
  'NO',
  'NO',
  None),
 ('pteta_db',
  'pg_catalog',
  'pg_views',
  'VIEW',
  None,
  None,
  None,
  None,
  None,
  'NO',
  'NO',
  None),
 ('pteta_db',
  'pg_catalog',
  'pg_tables',
  'VIEW',
  None,
  None,
  None,
  None,
  None,
  'NO',
  'NO',
  None),
 ('pteta_db',
  'pg_catalog',
  'pg_matviews',
  'VIEW',
  None,
  None,
  None,
  None,
  None,
  'NO',
  'NO',
  None),
 ('pteta_db',
  'pg_catalog',
  'pg_indexes',
  'VIEW',
  None,
  None,
  None,
  None,
  None,
  'NO',
  'NO',
  None),
 ('pteta_db',
  'pg_catalog',
  'pg_sequences',
  'VIEW',
  None,
  None,
  None,
  None,
  None,
  'NO',
  'NO',
  None),
 ('pteta_db',
  'pg_catalog',
  'pg_stats',
  'VIEW',
  None,
  None,
  None,
  None,
  None,
  'NO',
  'NO',
  None),
 ('pteta_db',
  'pg_catalog',
  'pg_stats_ext',
  'VIEW',
  None,
  None,
  None,
  None,
  None,
  'NO',
  'NO',
  None),
 ('pteta_db',
  'pg_catalog',
  'pg_publication_tables',
  'VIEW',
  None,
  None,
  None,
  None,
  None,
  'NO',
  'NO',
  None),
 ('pteta_db',
  'pg_catalog',
  'pg_locks',
  'VIEW',
  None,
  None,
  None,
  None,
  None,
  'NO',
  'NO',
  None),
 ('pteta_db',
  'pg_catalog',
  'pg_cursors',
  'VIEW',
  None,
  None,
  None,
  None,
  None,
  'NO',
  'NO',
  None),
 ('pteta_db',
  'pg_catalog',
  'pg_available_extensions',
  'VIEW',
  None,
  None,
  None,
  None,
  None,
  'NO',
  'NO',
  None),
 ('pteta_db',
  'pg_catalog',
  'pg_available_extension_versions',
  'VIEW',
  None,
  None,
  None,
  None,
  None,
  'NO',
  'NO',
  None),
 ('pteta_db',
  'pg_catalog',
  'pg_prepared_xacts',
  'VIEW',
  None,
  None,
  None,
  None,
  None,
  'NO',
  'NO',
  None),
 ('pteta_db',
  'pg_catalog',
  'pg_seclabels',
  'VIEW',
  None,
  None,
  None,
  None,
  None,
  'NO',
  'NO',
  None),
 ('pteta_db',
  'pg_catalog',
  'pg_statio_user_tables',
  'VIEW',
  None,
  None,
  None,
  None,
  None,
  'NO',
  'NO',
  None),
 ('pteta_db',
  'pg_catalog',
  'pg_stat_all_indexes',
  'VIEW',
  None,
  None,
  None,
  None,
  None,
  'NO',
  'NO',
  None),
 ('pteta_db',
  'pg_catalog',
  'pg_timezone_abbrevs',
  'VIEW',
  None,
  None,
  None,
  None,
  None,
  'NO',
  'NO',
  None),
 ('pteta_db',
  'pg_catalog',
  'pg_timezone_names',
  'VIEW',
  None,
  None,
  None,
  None,
  None,
  'NO',
  'NO',
  None),
 ('pteta_db',
  'pg_catalog',
  'pg_stat_sys_indexes',
  'VIEW',
  None,
  None,
  None,
  None,
  None,
  'NO',
  'NO',
  None),
 ('pteta_db',
  'pg_catalog',
  'pg_stat_all_tables',
  'VIEW',
  None,
  None,
  None,
  None,
  None,
  'NO',
  'NO',
  None),
 ('pteta_db',
  'pg_catalog',
  'pg_stat_xact_all_tables',
  'VIEW',
  None,
  None,
  None,
  None,
  None,
  'NO',
  'NO',
  None),
 ('pteta_db',
  'pg_catalog',
  'pg_stat_sys_tables',
  'VIEW',
  None,
  None,
  None,
  None,
  None,
  'NO',
  'NO',
  None),
 ('pteta_db',
  'pg_catalog',
  'pg_stat_xact_sys_tables',
  'VIEW',
  None,
  None,
  None,
  None,
  None,
  'NO',
  'NO',
  None),
 ('pteta_db',
  'pg_catalog',
  'pg_stat_user_tables',
  'VIEW',
  None,
  None,
  None,
  None,
  None,
  'NO',
  'NO',
  None),
 ('pteta_db',
  'pg_catalog',
  'pg_stat_xact_user_tables',
  'VIEW',
  None,
  None,
  None,
  None,
  None,
  'NO',
  'NO',
  None),
 ('pteta_db',
  'pg_catalog',
  'pg_statio_all_tables',
  'VIEW',
  None,
  None,
  None,
  None,
  None,
  'NO',
  'NO',
  None),
 ('pteta_db',
  'pg_catalog',
  'pg_statio_sys_tables',
  'VIEW',
  None,
  None,
  None,
  None,
  None,
  'NO',
  'NO',
  None),
 ('pteta_db',
  'pg_catalog',
  'pg_stat_user_indexes',
  'VIEW',
  None,
  None,
  None,
  None,
  None,
  'NO',
  'NO',
  None),
 ('pteta_db',
  'pg_catalog',
  'pg_statio_all_indexes',
  'VIEW',
  None,
  None,
  None,
  None,
  None,
  'NO',
  'NO',
  None),
 ('pteta_db',
  'pg_catalog',
  'pg_statio_sys_indexes',
  'VIEW',
  None,
  None,
  None,
  None,
  None,
  'NO',
  'NO',
  None),
 ('pteta_db',
  'pg_catalog',
  'pg_statio_user_indexes',
  'VIEW',
  None,
  None,
  None,
  None,
  None,
  'NO',
  'NO',
  None),
 ('pteta_db',
  'pg_catalog',
  'pg_statio_all_sequences',
  'VIEW',
  None,
  None,
  None,
  None,
  None,
  'NO',
  'NO',
  None),
 ('pteta_db',
  'pg_catalog',
  'pg_statio_sys_sequences',
  'VIEW',
  None,
  None,
  None,
  None,
  None,
  'NO',
  'NO',
  None),
 ('pteta_db',
  'pg_catalog',
  'pg_statio_user_sequences',
  'VIEW',
  None,
  None,
  None,
  None,
  None,
  'NO',
  'NO',
  None),
 ('pteta_db',
  'pg_catalog',
  'pg_stat_activity',
  'VIEW',
  None,
  None,
  None,
  None,
  None,
  'NO',
  'NO',
  None),
 ('pteta_db',
  'pg_catalog',
  'pg_stat_replication',
  'VIEW',
  None,
  None,
  None,
  None,
  None,
  'NO',
  'NO',
  None),
 ('pteta_db',
  'pg_catalog',
  'pg_stat_slru',
  'VIEW',
  None,
  None,
  None,
  None,
  None,
  'NO',
  'NO',
  None),
 ('pteta_db',
  'pg_catalog',
  'pg_stat_wal_receiver',
  'VIEW',
  None,
  None,
  None,
  None,
  None,
  'NO',
  'NO',
  None),
 ('pteta_db',
  'pg_catalog',
  'pg_stat_subscription',
  'VIEW',
  None,
  None,
  None,
  None,
  None,
  'NO',
  'NO',
  None),
 ('pteta_db',
  'pg_catalog',
  'pg_stat_ssl',
  'VIEW',
  None,
  None,
  None,
  None,
  None,
  'NO',
  'NO',
  None),
 ('pteta_db',
  'pg_catalog',
  'pg_stat_gssapi',
  'VIEW',
  None,
  None,
  None,
  None,
  None,
  'NO',
  'NO',
  None),
 ('pteta_db',
  'pg_catalog',
  'pg_replication_slots',
  'VIEW',
  None,
  None,
  None,
  None,
  None,
  'NO',
  'NO',
  None),
 ('pteta_db',
  'pg_catalog',
  'pg_stat_database',
  'VIEW',
  None,
  None,
  None,
  None,
  None,
  'NO',
  'NO',
  None),
 ('pteta_db',
  'pg_catalog',
  'pg_stat_database_conflicts',
  'VIEW',
  None,
  None,
  None,
  None,
  None,
  'YES',
  'NO',
  None),
 ('pteta_db',
  'pg_catalog',
  'pg_stat_user_functions',
  'VIEW',
  None,
  None,
  None,
  None,
  None,
  'NO',
  'NO',
  None),
 ('pteta_db',
  'pg_catalog',
  'pg_stat_xact_user_functions',
  'VIEW',
  None,
  None,
  None,
  None,
  None,
  'NO',
  'NO',
  None),
 ('pteta_db',
  'pg_catalog',
  'pg_stat_archiver',
  'VIEW',
  None,
  None,
  None,
  None,
  None,
  'NO',
  'NO',
  None),
 ('pteta_db',
  'pg_catalog',
  'pg_stat_bgwriter',
  'VIEW',
  None,
  None,
  None,
  None,
  None,
  'NO',
  'NO',
  None),
 ('pteta_db',
  'pg_catalog',
  'pg_stat_progress_analyze',
  'VIEW',
  None,
  None,
  None,
  None,
  None,
  'NO',
  'NO',
  None),
 ('pteta_db',
  'information_schema',
  'columns',
  'VIEW',
  None,
  None,
  None,
  None,
  None,
  'NO',
  'NO',
  None),
 ('pteta_db',
  'information_schema',
  'information_schema_catalog_name',
  'VIEW',
  None,
  None,
  None,
  None,
  None,
  'NO',
  'NO',
  None),
 ('pteta_db',
  'information_schema',
  'collations',
  'VIEW',
  None,
  None,
  None,
  None,
  None,
  'NO',
  'NO',
  None),
 ('pteta_db',
  'information_schema',
  'applicable_roles',
  'VIEW',
  None,
  None,
  None,
  None,
  None,
  'NO',
  'NO',
  None),
 ('pteta_db',
  'information_schema',
  'administrable_role_authorizations',
  'VIEW',
  None,
  None,
  None,
  None,
  None,
  'NO',
  'NO',
  None),
 ('pteta_db',
  'information_schema',
  'column_privileges',
  'VIEW',
  None,
  None,
  None,
  None,
  None,
  'NO',
  'NO',
  None),
 ('pteta_db',
  'information_schema',
  'attributes',
  'VIEW',
  None,
  None,
  None,
  None,
  None,
  'NO',
  'NO',
  None),
 ('pteta_db',
  'information_schema',
  'collation_character_set_applicability',
  'VIEW',
  None,
  None,
  None,
  None,
  None,
  'NO',
  'NO',
  None),
 ('pteta_db',
  'information_schema',
  'character_sets',
  'VIEW',
  None,
  None,
  None,
  None,
  None,
  'NO',
  'NO',
  None),
 ('pteta_db',
  'information_schema',
  'check_constraint_routine_usage',
  'VIEW',
  None,
  None,
  None,
  None,
  None,
  'NO',
  'NO',
  None),
 ('pteta_db',
  'information_schema',
  'check_constraints',
  'VIEW',
  None,
  None,
  None,
  None,
  None,
  'NO',
  'NO',
  None),
 ('pteta_db',
  'information_schema',
  'column_column_usage',
  'VIEW',
  None,
  None,
  None,
  None,
  None,
  'NO',
  'NO',
  None),
 ('pteta_db',
  'information_schema',
  'column_domain_usage',
  'VIEW',
  None,
  None,
  None,
  None,
  None,
  'NO',
  'NO',
  None),
 ('pteta_db',
  'information_schema',
  'column_udt_usage',
  'VIEW',
  None,
  None,
  None,
  None,
  None,
  'NO',
  'NO',
  None),
 ('pteta_db',
  'information_schema',
  'constraint_column_usage',
  'VIEW',
  None,
  None,
  None,
  None,
  None,
  'NO',
  'NO',
  None),
 ('pteta_db',
  'information_schema',
  'constraint_table_usage',
  'VIEW',
  None,
  None,
  None,
  None,
  None,
  'NO',
  'NO',
  None),
 ('pteta_db',
  'information_schema',
  'domain_constraints',
  'VIEW',
  None,
  None,
  None,
  None,
  None,
  'NO',
  'NO',
  None),
 ('pteta_db',
  'information_schema',
  'domain_udt_usage',
  'VIEW',
  None,
  None,
  None,
  None,
  None,
  'NO',
  'NO',
  None),
 ('pteta_db',
  'information_schema',
  'domains',
  'VIEW',
  None,
  None,
  None,
  None,
  None,
  'NO',
  'NO',
  None),
 ('pteta_db',
  'information_schema',
  'enabled_roles',
  'VIEW',
  None,
  None,
  None,
  None,
  None,
  'NO',
  'NO',
  None),
 ('pteta_db',
  'information_schema',
  'sql_implementation_info',
  'BASE TABLE',
  None,
  None,
  None,
  None,
  None,
  'YES',
  'NO',
  None),
 ('pteta_db',
  'information_schema',
  'key_column_usage',
  'VIEW',
  None,
  None,
  None,
  None,
  None,
  'NO',
  'NO',
  None),
 ('pteta_db',
  'information_schema',
  'parameters',
  'VIEW',
  None,
  None,
  None,
  None,
  None,
  'NO',
  'NO',
  None),
 ('pteta_db',
  'information_schema',
  'referential_constraints',
  'VIEW',
  None,
  None,
  None,
  None,
  None,
  'NO',
  'NO',
  None),
 ('pteta_db',
  'information_schema',
  'role_column_grants',
  'VIEW',
  None,
  None,
  None,
  None,
  None,
  'NO',
  'NO',
  None),
 ('pteta_db',
  'information_schema',
  'sql_parts',
  'BASE TABLE',
  None,
  None,
  None,
  None,
  None,
  'YES',
  'NO',
  None),
 ('pteta_db',
  'information_schema',
  'routine_privileges',
  'VIEW',
  None,
  None,
  None,
  None,
  None,
  'NO',
  'NO',
  None),
 ('pteta_db',
  'information_schema',
  'role_routine_grants',
  'VIEW',
  None,
  None,
  None,
  None,
  None,
  'NO',
  'NO',
  None),
 ('pteta_db',
  'information_schema',
  'routines',
  'VIEW',
  None,
  None,
  None,
  None,
  None,
  'NO',
  'NO',
  None),
 ('pteta_db',
  'information_schema',
  'schemata',
  'VIEW',
  None,
  None,
  None,
  None,
  None,
  'NO',
  'NO',
  None),
 ('pteta_db',
  'information_schema',
  'tables',
  'VIEW',
  None,
  None,
  None,
  None,
  None,
  'NO',
  'NO',

In [56]:
cursor.execute("SELECT * FROM pteta.owner;")
cursor.fetchall()

[]

In [15]:
id, perevName = 6, 'ЧТУ'
with conn.cursor() as cur: 
    sql = f"""SELECT EXISTS(SELECT * FROM pteta.owner where "perevName" = '{perevName}' AND "id" = {id});"""
    cursor.execute(sql)
    print(cursor.fetchall())

[(True,)]

In [17]:
from dataclasses import dataclass

@dataclass(unsafe_hash=True)
class TransportOperator:
    """
    Column name ralations dataclass | DB | HTTP request
    id: int   | id        | perevId
    name: str | perevName | perevName
    """
    id: int
    name: str

In [84]:
def isTransportOperatorInTable(
    connection: psycopg2.extensions.connection, 
    trans_operator: TransportOperator
): 
    with connection.cursor() as cur: 
        sql = f"""SELECT EXISTS(SELECT * FROM pteta.owner """ +\
            f"""WHERE "id" = {trans_operator.id} AND "perevName" = '{trans_operator.name}' );"""
        try:
            cursor.execute(sql)
            return cursor.fetchone()[0]
        except psycopg2.errors.InFailedSqlTransaction as err:
            print(err)
            connection.rollback()
            raise err
            
    
def insertTransportOperatorInTable(
    connection: psycopg2.extensions.connection, 
    trans_operator: TransportOperator
): 
    with connection.cursor() as cur: 
        sql = f"""INSERT INTO pteta.owner("id", "perevName")""" +\
            f"""VALUES ({trans_operator.id}, '{trans_operator.name}');"""
        cursor.execute(sql)
        connection.commit()
        
        
def getTransportOperatorTable(
    connection: psycopg2.extensions.connection
):
    with connection.cursor() as cur: 
        sql = f"""SELECT ID, "perevName" FROM pteta.owner;"""
        try:
            cursor.execute(sql)
            return [TransportOperator(rec[0], rec[1]) for rec in cursor.fetchall()]
        except psycopg2.errors.InFailedSqlTransaction as err:
            print(err)
            connection.rollback()
            raise err

In [85]:
getTransportOperatorTable(conn)

[TransportOperator(id=6, name='ЧТУ'),
 TransportOperator(id=12, name='Vitaliy2019'),
 TransportOperator(id=7, name='Віталій / Олег Бойко '),
 TransportOperator(id=1, name='Денисівка'),
 TransportOperator(id=13, name='Олег Валентинович 39 марш'),
 TransportOperator(id=2, name='Тарас')]

In [ ]:
for perevId, perevName in  df_sum[["perevId", "perevName"]].drop_duplicates().values:
    trans_operator = TransportOperator(perevId, perevName)
    
    if (not isTransportOperatorInTable(conn, trans_operator)): 
        insertTransportOperatorInTable(conn, trans_operator)

In [96]:
df_sum[["perevId", "perevName"]].drop_duplicates().values

array([[6, 'ЧТУ'],
       [12, 'Vitaliy2019'],
       [7, 'Віталій / Олег Бойко '],
       [1, 'Денисівка'],
       [13, 'Олег Валентинович 39 марш'],
       [2, 'Тарас']], dtype=object)

### ROUTES

10 routeId 280232 non-null int64

11 routeName 280232 non-null object

12 routeColour

In [104]:
@dataclass(unsafe_hash=True)
class TransportRoute:
    """
    Column name ralations 
    dataclass   | DB          | HTTP request
    ------------|-------------|------------
    id: int     | id          | routeId
    name: str   | routeName   | routeName
    colour: str | routeColour | routeColour
    """
    id: int
    name: str
    colour: str

In [94]:
from typing import List

In [105]:
def isTransportRouteInTable(
    connection: psycopg2.extensions.connection, 
    trans_route: TransportRoute
)-> bool : 
    with connection.cursor() as cur: 
        sql = f"""SELECT EXISTS(SELECT * FROM pteta.route """ +\
            f"""WHERE "id" = {trans_route.id} AND "routeName" = '{trans_route.name}' );"""
        try:
            cursor.execute(sql)
            return cursor.fetchone()[0]
        except psycopg2.errors.InFailedSqlTransaction as err:
            print(err)
            connection.rollback()
            raise err
            
    
def insertTransportRouteInTable(
    connection: psycopg2.extensions.connection, 
    trans_route: TransportRoute
) -> None:
    with connection.cursor() as cur: 
        sql = f"""INSERT INTO pteta.route("id", "routeName", "routeColour")""" +\
            f"""VALUES ({trans_route.id}, '{trans_route.name}', '{trans_route.colour}');"""
        cursor.execute(sql)
        connection.commit()
        
        
def getTransportOperatorTable(
    connection: psycopg2.extensions.connection
) -> List[TransportRoute]:
    with connection.cursor() as cur: 
        sql = f"""SELECT "id", "routeName", "routeColour" FROM pteta.route;"""
        try:
            cursor.execute(sql)
            return [TransportRoute(rec[0], rec[1], rec[2]) for rec in cursor.fetchall()]
        except psycopg2.errors.InFailedSqlTransaction as err:
            print(err)
            connection.rollback()
            raise err

In [97]:
df_sum[["routeId", "routeName", "routeColour"]].drop_duplicates().values

array([[37, 'T', 'coral'],
       [31, '6/6a', 'deeppink'],
       [21, '38', 'deeppink'],
       [41, '10A', 'black'],
       [20, 'A', 'navy'],
       [42, '39', 'coral'],
       [23, '19', 'teal'],
       [19, '10', 'black'],
       [11, '9', 'magenta'],
       [2, '11', 'green'],
       [6, '4', 'magenta'],
       [27, '3/3a', 'green'],
       [16, '2', 'green'],
       [4, '5', 'orange'],
       [3, '12', 'blue'],
       [12, '20', 'maroon'],
       [7, '6', 'sienna'],
       [10, '34', 'navy'],
       [45, '1', 'navy'],
       [9, '27', 'black'],
       [38, '1T', 'grey'],
       [49, '2A', 'red'],
       [5, '13', 'brown'],
       [33, '8T', 'coral'],
       [17, '23', 'red'],
       [48, '1A', 'olive'],
       [14, '9A', 'magenta'],
       [26, '4T', 'purple'],
       [25, '2T', 'olive'],
       [39, '5T', 'maroon'],
       [34, '11/3', 'teal']], dtype=object)

In [99]:
isTransportRouteInTable(conn, TransportRoute(1, 'a', 'routeColour'))

False

In [106]:
for routeId, routeName, routeColour in df_sum[["routeId", "routeName", "routeColour"]].drop_duplicates().values:
    trans_operator = TransportRoute(routeId, routeName, routeColour)
    
    if (not isTransportRouteInTable(conn, trans_operator)): 
        insertTransportRouteInTable(conn, trans_operator)
        
getTransportOperatorTable(conn)

[TransportRoute(id=37, name='T', colour='coral'),
 TransportRoute(id=31, name='6/6a', colour='deeppink'),
 TransportRoute(id=21, name='38', colour='deeppink'),
 TransportRoute(id=41, name='10A', colour='black'),
 TransportRoute(id=20, name='A', colour='navy'),
 TransportRoute(id=42, name='39', colour='coral'),
 TransportRoute(id=23, name='19', colour='teal'),
 TransportRoute(id=19, name='10', colour='black'),
 TransportRoute(id=11, name='9', colour='magenta'),
 TransportRoute(id=2, name='11', colour='green'),
 TransportRoute(id=6, name='4', colour='magenta'),
 TransportRoute(id=27, name='3/3a', colour='green'),
 TransportRoute(id=16, name='2', colour='green'),
 TransportRoute(id=4, name='5', colour='orange'),
 TransportRoute(id=3, name='12', colour='blue'),
 TransportRoute(id=12, name='20', colour='maroon'),
 TransportRoute(id=7, name='6', colour='sienna'),
 TransportRoute(id=10, name='34', colour='navy'),
 TransportRoute(id=45, name='1', colour='navy'),
 TransportRoute(id=9, name='27', colour='black'),
 TransportRoute(id=38, name='1T', colour='grey'),
 TransportRoute(id=49, name='2A', colour='red'),
 TransportRoute(id=5, name='13', colour='brown'),
 TransportRoute(id=33, name='8T', colour='coral'),
 TransportRoute(id=17, name='23', colour='red'),
 TransportRoute(id=48, name='1A', colour='olive'),
 TransportRoute(id=14, name='9A', colour='magenta'),
 TransportRoute(id=26, name='4T', colour='purple'),
 TransportRoute(id=25, name='2T', colour='olive'),
 TransportRoute(id=39, name='5T', colour='maroon'),
 TransportRoute(id=34, name='11/3', colour='teal')]

### WEEHCLE
1 imei 280232 non-null int64

2 name 280232 non-null object

14 busNumber 280232 non-null object

17 remark 280232 non-null object

19 idBusTypes 280232 non-null int64

In [100]:
id
imei
name
busNumber
remark

perevId
routeId

edited

[]

In [134]:
@dataclass(unsafe_hash=True)
class TransportVehicle:
    """
    Column name ralations 
    dataclass   | DB          | HTTP request
    ------------|-------------|------------
    imei: int   | imei        | imei
    name: str   | routeName   | routeName
    colour: str | routeColour | routeColour
    """
    imei: int
    name: str
    busNumber: str
    remark: str
    perevId: int
    routeId: int

In [130]:
# df_sum.head(3)

In [131]:
dt = df_sum[["imei", "name", "busNumber", "remark", "perevId", "routeId"]].drop_duplicates().values
dt.shape

(148, 6)

In [132]:
# df_sum[["imei", "name", "busNumber", "remark", "perevId", "routeId"]].value_counts()

In [129]:
# len(set(dt[:, 3]))

99

In [133]:
# "imei", "name", "busNumber", "remark" (99) ->  "perevId", "routeId" = 148

In [184]:
def isTransportVehicleInTable(
    connection: psycopg2.extensions.connection, 
    trans_vehicle: TransportVehicle
)-> bool : 
    with connection.cursor() as cur: 
        sql = f"""SELECT EXISTS(SELECT * FROM pteta.vehicle """ +\
            f"""WHERE "imei" = '{trans_vehicle.imei}' """ +\
            f"""AND "name" = '{trans_vehicle.name}' """ +\
            f"""AND "busNumber" = '{trans_vehicle.busNumber}' """ +\
            f"""AND "remark" = '{trans_vehicle.remark}' """ +\
            f"""AND "perevId" = {trans_vehicle.perevId} """ +\
            f"""AND "routeId" = {trans_vehicle.routeId});"""
        try:
            cursor.execute(sql)
            return cursor.fetchone()[0]
        except psycopg2.errors.InFailedSqlTransaction as err:
            print(err)
            connection.rollback()
            raise err

        
def insertTransportVehicleInTable(
    connection: psycopg2.extensions.connection, 
    trans_vehicle: TransportVehicle
) -> None:
    with connection.cursor() as cur: 
        sql = f"""INSERT INTO pteta.vehicle("imei", "name", "busNumber", "remark", "perevId", "routeId")""" +\
            f"""VALUES ('{trans_vehicle.imei}', '{trans_vehicle.name}', '{trans_vehicle.busNumber}', """ +\
            f"""'{trans_vehicle.remark}', {trans_vehicle.perevId},  {trans_vehicle.routeId});"""
        
        cursor.execute(sql)
        connection.commit()
        
        
def getTransportVehicleTable(
    connection: psycopg2.extensions.connection
) -> List[TransportVehicle]:
    with connection.cursor() as cur: 
        sql = f"""SELECT "imei", "name", "busNumber", "remark", "perevId", "routeId" FROM pteta.vehicle;"""
        try:
            cursor.execute(sql)
            return [TransportVehicle(rec[0], rec[1], rec[2], rec[3], rec[4], rec[5]) for rec in cursor.fetchall()]
        except psycopg2.errors.InFailedSqlTransaction as err:
            print(err)
            connection.rollback()
            raise err

In [152]:
dt = df_sum[["imei", "name", "busNumber", "remark", "perevId", "routeId"]].drop_duplicates().values
dt[:3, :]

array([[355227045600830, 'A178', '310', 'Тролейбус 310 DNSNK', 6, 37],
       [355227046451662, 'H76', '350', 'Тролейбус 350 DNSNTNK', 6, 31],
       [355227045369527, 'A6', '3557', '3557 DNSNK ', 12, 21]],
      dtype=object)

In [172]:
conn.rollback()

In [179]:
conn

In [186]:
trans_vehicle = TransportVehicle(355227045369527, 'A6', '3557', '3557 DNSNK ', 12, 21)
isTransportVehicleInTable(conn, trans_vehicle)

False

In [188]:
insertTransportVehicleInTable(conn, trans_vehicle)

In [189]:
getTransportVehicleTable(conn)

[TransportVehicle(imei='355227045369527', name='A6', busNumber=3557, remark='3557 DNSNK ', perevId=12, routeId=21)]

In [192]:
dt = df_sum[["imei", "name", "busNumber", "remark", "perevId", "routeId"]].drop_duplicates().values

for row in tqdm(dt):
    trans_vehicle = TransportVehicle(*row)
    
    if (not isTransportVehicleInTable(conn, trans_vehicle)): 
        insertTransportVehicleInTable(conn, trans_vehicle)
        
getTransportVehicleTable(conn)

100%|██████████| 148/148 [00:25<00:00,  5.88it/s]

[TransportVehicle(imei='355227045600830', name='A178', busNumber='310', remark='Тролейбус 310 DNSNK', perevId=6, routeId=37),
 TransportVehicle(imei='355227046451662', name='H76', busNumber='350', remark='Тролейбус 350 DNSNTNK', perevId=6, routeId=31),
 TransportVehicle(imei='355227045369527', name='A6', busNumber='3557', remark='3557 DNSNK ', perevId=12, routeId=21),
 TransportVehicle(imei='355227045540176', name='A83', busNumber='5150', remark=' 5150 DNS', perevId=7, routeId=41),
 TransportVehicle(imei='355227046453387', name='H75', busNumber='3627', remark='3627 DNSNTNK', perevId=1, routeId=20),
 TransportVehicle(imei='355228042084283', name='A207', busNumber='1032', remark='1032 DNSNK', perevId=13, routeId=42),
 TransportVehicle(imei='355227045371655', name='A1', busNumber='6513', remark='6513 DNSNK', perevId=7, routeId=23),
 TransportVehicle(imei='355227046451407', name='H68', busNumber='0855', remark='0855 DNSNTNK', perevId=13, routeId=42),
 TransportVehicle(imei='355227046578332', name='A189', busNumber='6518', remark='6518 DNSNK ', perevId=7, routeId=19),
 TransportVehicle(imei='355228043199379', name='H99', busNumber='1176', remark='1176 DNSNTNK', perevId=12, routeId=21),
 TransportVehicle(imei='355227046504098', name='A195', busNumber='0854', remark='0854 DNSNK', perevId=13, routeId=42),
 TransportVehicle(imei='355227046504098', name='A195', busNumber='0854', remark='0854 DNSNK', perevId=13, routeId=11),
 TransportVehicle(imei='355227046451027', name='H24', busNumber='0738', remark='0738 DNSNTNK', perevId=1, routeId=2),
 TransportVehicle(imei='355228042058154', name='A219', busNumber='5627', remark=' 5627 DNSNK', perevId=1, routeId=6),
 TransportVehicle(imei='355227046451357', name='H51', busNumber='356', remark='Тролейбус 356 DNSNTNK', perevId=6, routeId=27),
 TransportVehicle(imei='355227045539228', name='Am66', busNumber='1065', remark='1065 DNSNK', perevId=2, routeId=16),
 TransportVehicle(imei='355227046450987', name='H25', busNumber='0866', remark='0866 DNSNTNK', perevId=1, routeId=4),
 TransportVehicle(imei='355227046451589', name='H4', busNumber='0987', remark='0987 DNSNTNK', perevId=1, routeId=4),
 TransportVehicle(imei='355227045540192', name='A91', busNumber='7762', remark='7762 DNSNK', perevId=1, routeId=3),
 TransportVehicle(imei='355227046638821', name='A211', busNumber='1181', remark='1181 DNSNK', perevId=13, routeId=42),
 TransportVehicle(imei='355227045600319', name='A157', busNumber='289', remark='Тролейбус 289 DNSNK', perevId=6, routeId=37),
 TransportVehicle(imei='355227046451415', name='H47', busNumber='398', remark='Тролейбус 398 DNSNTNK', perevId=6, routeId=37),
 TransportVehicle(imei='355227046450961', name='H21', busNumber='2058', remark='2058 DNSNTNK', perevId=1, routeId=4),
 TransportVehicle(imei='355227046450920', name='H62', busNumber='255', remark='Тролейбус 255 DNSNTNK', perevId=6, routeId=37),
 TransportVehicle(imei='355227045541257', name='A57', busNumber='9043', remark='9043 DNSNK', perevId=2, routeId=12),
 TransportVehicle(imei='355227046451530', name='H17', busNumber='1147', remark='1147 DNSNTNK', perevId=1, routeId=7),
 TransportVehicle(imei='355227046450953', name='H26', busNumber='0443', remark='0443 DNSNTNK', perevId=2, routeId=12),
 TransportVehicle(imei='355227045539517', name='A100', busNumber='1173', remark='1173 DNSNK', perevId=1, routeId=4),
 TransportVehicle(imei='355227045541638', name='A96', busNumber='2818', remark='2818 DNSNK', perevId=1, routeId=10),
 TransportVehicle(imei='355227045600178', name='A121', busNumber='384', remark='Тролейбус 384 DNSNK', perevId=6, routeId=37),
 TransportVehicle(imei='355227046450946', name='H61', busNumber='364', remark='Тролейбус 364 DNSNTNK', perevId=6, routeId=37),
 TransportVehicle(imei='355227045600996', name='A168', busNumber='381', remark='Тролейбус 381 DNSNK', perevId=6, routeId=37),
 TransportVehicle(imei='355228043199098', name='H102', busNumber='1098', remark='1098 DNSNTNK', perevId=12, routeId=45),
 TransportVehicle(imei='355227045540770', name='A90', busNumber='9046', remark='9046 DNSNK', perevId=2, routeId=12),
 TransportVehicle(imei='355227046451043', name='H23', busNumber='1172', remark='1172 DNSNTNK', perevId=1, routeId=7),
 TransportVehicle(imei='355227046283032', name='A208', busNumber='0937', remark='0937 DNSNK', perevId=13, routeId=42),
 TransportVehicle(imei='355227046505244', name='A188', busNumber='5447', remark='5447 DNSNK', perevId=1, routeId=9),
 TransportVehicle(imei='355227046299129', name='A186', busNumber='389', remark='Тролейбус 389 DNSNK', perevId=6, routeId=38),
 TransportVehicle(imei='355227046451019', name='H30', busNumber='275', remark='Тролейбус 275 DNSNTNK', perevId=6, routeId=37),
 TransportVehicle(imei='355227045594892', name='A108', busNumber='1159', remark='1159 DNSNK', perevId=2, routeId=49),
 TransportVehicle(imei='355227046314068', name='A185', busNumber='388', remark='Тролейбус 388 DNSNK', perevId=6, routeId=37),
 TransportVehicle(imei='355227046450904', name='H11', busNumber='6159', remark='6159 DNSNTNK', perevId=1, routeId=5),
 TransportVehicle(imei='355227045600988', name='A158', busNumber='324', remark='Тролейбус 324 DNSNK', perevId=6, routeId=33),
 TransportVehicle(imei='355227046313847', name='A184', busNumber='387', remark=' тролейбус 387 DNSNK', perevId=6, routeId=37),
 TransportVehicle(imei='355228043198777', name='H96', busNumber='8361', remark='8361 DNSNTNK', perevId=12, routeId=17),
 TransportVehicle(imei='355227046283032', name='A208', busNumber='0937', remark='0937 DNSNK', perevId=13, routeId=11),
 TransportVehicle(imei='355227044854750', name='A22', busNumber='7665', remark='7665 DNSNK', perevId=1, routeId=5),
 TransportVehicle(imei='355227046450805', name='H63', busNumber='375', remark='Тролейбус 375 DNSNTNK', perevId=6, routeId=37),
 TransportVehicle(imei='355227046451480', name='H41', busNumber='399', remark='Тролейбус 399 DNSNTNK', perevId=6, routeId=37),
 TransportVehicle(imei='355228043162195', name='H108', busNumber='0896', remark='0896 DNSNTNK', perevId=1, routeId=4),
 TransportVehicle(imei='355227045594934', name='A112', busNumber='1116', remark='1116 DNSNK', perevId=1, routeId=4),
 TransportVehicle(imei='355227045600103', name='A130', busNumber='1632', remark='1632 DNSNK', perevId=1, routeId=6),
 TransportVehicle(imei='355227045540572', name='A67', busNumber='4238', remark='4238 DNSNK', perevId=1, routeId=3),
 TransportVehicle(imei='355227045600871', name='A134', busNumber='318', remark='Тролейбус 318 DNS', perevId=6, routeId=31),
 TransportVehicle(imei='355228043199049', name='H106', busNumber='0964', remark='0964 DNSNTNK', perevId=1, routeId=20),
 TransportVehicle(imei='355228043199130', name='H105', busNumber='0128', remark='0128 DNSNTNK', perevId=12, routeId=21),
 TransportVehicle(imei='355227046451266', name='H53', busNumber='2011', remark='Тролейбус 2011 DNSNTNK', perevId=6, routeId=37),
 TransportVehicle(imei='355227046450995', name='H29', busNumber='365', remark='Тролейбус 365 DNSNTNK', perevId=6, routeId=37),
 TransportVehicle(imei='355227045600202', name='A144', busNumber='2012', remark='Тролейбус 2012 DNSNK', perevId=6, routeId=37),
 TransportVehicle(imei='355228042084192', name='A204', busNumber='0901', remark='0901 DNSNK', perevId=1, routeId=10),
 TransportVehicle(imei='355227045539731', name='Am87', busNumber='1023', remark='1023 DNSNK', perevId=2, routeId=49),
 TransportVehicle(imei='355227046451167', name='H13', busNumber='9408', remark='9408 DNSNTNK', perevId=1, routeId=3),
 TransportVehicle(imei='355228043199106', name='H104', busNumber='1031', remark='1031 DNSNTNK', perevId=12, routeId=48),
 TransportVehicle(imei='355227046505244', name='A188', busNumber='5447', remark='5447 DNSNK', perevId=1, routeId=7),
 TransportVehicle(imei='355227046451449', name='H46', busNumber='397', remark='Тролейбус 397 DNSNTNK', perevId=6, routeId=37),
 TransportVehicle(imei='355227045370699', name='A11', busNumber='2079', remark='2079 DNSNK', perevId=2, routeId=12),
 TransportVehicle(imei='355227046451035', name='H22', busNumber='8276', remark='8276 DNSNTNK', perevId=1, routeId=4),
 TransportVehicle(imei='355227045513553', name='A60', busNumber='3459', remark='3459 DNSNK', perevId=7, routeId=14),
 TransportVehicle(imei='355227046451332', name='A225', busNumber='7763', remark='7763 DNSNTNK', perevId=1, routeId=2),
 TransportVehicle(imei='355228042956811', name='H95', busNumber='1097', remark='1097 DNSNTNK', perevId=12, routeId=45),
 TransportVehicle(imei='355227046451399', name='H50', busNumber='393', remark='Тролейбус 393 DNSNTNK', perevId=6, routeId=31),
 TransportVehicle(imei='355227045601259', name='A133', busNumber='358', remark='Тролейбус 358 DNSNK', perevId=6, routeId=27),
 TransportVehicle(imei='355227046451043', name='H23', busNumber='1172', remark='1172 DNSNTNK', perevId=1, routeId=4),
 TransportVehicle(imei='355227045594934', name='A112', busNumber='1116', remark='1116 DNSNK', perevId=1, routeId=7),
 TransportVehicle(imei='355227045539517', name='A100', busNumber='1173', remark='1173 DNSNK', perevId=1, routeId=9),
 TransportVehicle(imei='355228042084192', name='A204', busNumber='0901', remark='0901 DNSNK', perevId=1, routeId=5),
 TransportVehicle(imei='355227045540572', name='A67', busNumber='4238', remark='4238 DNSNK', perevId=1, routeId=2),
 TransportVehicle(imei='355227045600103', name='A130', busNumber='1632', remark='1632 DNSNK', perevId=1, routeId=7),
 TransportVehicle(imei='355227045594892', name='A108', busNumber='1159', remark='1159 DNSNK', perevId=2, routeId=12),
 TransportVehicle(imei='355227046505244', name='A188', busNumber='5447', remark='5447 DNSNK', perevId=1, routeId=6),
 TransportVehicle(imei='355228043199049', name='H106', busNumber='0964', remark='0964 DNSNTNK', perevId=1, routeId=10),
 TransportVehicle(imei='355227046451332', name='A225', busNumber='7763', remark='7763 DNSNTNK', perevId=1, routeId=3),
 TransportVehicle(imei='355227046451464', name='H86', busNumber='7684', remark='7684 DNSNTNK', perevId=1, routeId=3),
 TransportVehicle(imei='355227046630729', name='A214', busNumber='1182', remark='1182 DNSNK', perevId=13, routeId=42),
 TransportVehicle(imei='355227046453403', name='H6', busNumber='0984', remark='0984 DNSNTNK', perevId=1, routeId=10),
 TransportVehicle(imei='355227045533718', name='A79', busNumber='9034', remark='9034 DNSNK', perevId=1, routeId=3),
 TransportVehicle(imei='355227045540127', name='A99', busNumber='0042', remark='0042 DNSNK', perevId=1, routeId=2),
 TransportVehicle(imei='355227046451266', name='H53', busNumber='2011', remark='Тролейбус 2011 DNSNTNK', perevId=6, routeId=26),
 TransportVehicle(imei='355228043198843', name='H100', busNumber='9752', remark='9752 DNSNTNK', perevId=12, routeId=17),
 TransportVehicle(imei='355228043022480', name='H93', busNumber='8714', remark='8714 DNSNTNK', perevId=12, routeId=45),
 TransportVehicle(imei='355227045594918', name='A106', busNumber='5483', remark='5483 DNSNK', perevId=7, routeId=14),
 TransportVehicle(imei='355227045526902', name='A85', busNumber='0528', remark='0528 DNSNK ', perevId=7, routeId=14),
 TransportVehicle(imei='355227045539921', name='A64', busNumber='5952', remark='5952 DNS', perevId=7, routeId=14),
 TransportVehicle(imei='355227045600319', name='A157', busNumber='289', remark='Тролейбус 289 DNSNK', perevId=6, routeId=25),
 TransportVehicle(imei='355228043022449', name='H94', busNumber='1099', remark='1099 DNSNTNK', perevId=12, routeId=21),
 TransportVehicle(imei='355227045540770', name='A90', busNumber='9046', remark='9046 DNSNK', perevId=2, routeId=49),
 TransportVehicle(imei='355227045370699', name='A11', busNumber='2079', remark='2079 DNSNK', perevId=2, routeId=16),
 TransportVehicle(imei='355227046450953', name='H26', busNumber='0443', remark='0443 DNSNTNK', perevId=2, routeId=49),
 TransportVehicle(imei='355227045539731', name='Am87', busNumber='1023', remark='1023 DNSNK', perevId=2, routeId=12),
 TransportVehicle(imei='355227046451274', name='H37', busNumber='361', remark='Тролейбус 361 DNSNTNK', perevId=6, routeId=37),
 TransportVehicle(imei='355227045600178', name='A121', busNumber='384', remark='Тролейбус 384 DNSNK', perevId=6, routeId=25),
 TransportVehicle(imei='355228042084283', name='A207', busNumber='1032', remark='1032 DNSNK', perevId=13, routeId=14),
 TransportVehicle(imei='355227046313847', name='A184', busNumber='387', remark=' тролейбус 387 DNSNK', perevId=6, routeId=33),
 TransportVehicle(imei='355227045369873', name='A10', busNumber='7237', remark='7237 DNSNK', perevId=1, routeId=2),
 TransportVehicle(imei='355227045600582', name='A146', busNumber='385', remark='Тролейбус 385 DNSNK', perevId=6, routeId=37),
 TransportVehicle(imei='355227046450920', name='H62', busNumber='255', remark='Тролейбус 255 DNSNTNK', perevId=6, routeId=39),
 TransportVehicle(imei='355228043198686', name='H97', busNumber='7722', remark='7722 DNSNTNK', perevId=12, routeId=48),
 TransportVehicle(imei='355227046450805', name='H63', busNumber='375', remark='Тролейбус 375 DNSNTNK', perevId=6, routeId=27),
 TransportVehicle(imei='355227046451407', name='H68', busNumber='0855', remark='0855 DNSNTNK', perevId=13, routeId=14),
 TransportVehicle(imei='355227046450946', name='H61', busNumber='364', remark='Тролейбус 364 DNSNTNK', perevId=6, routeId=39),
 TransportVehicle(imei='355227045600202', name='A144', busNumber='2012', remark='Тролейбус 2012 DNSNK', perevId=6, routeId=33),
 TransportVehicle(imei='355227045600830', name='A178', busNumber='310', remark='Тролейбус 310 DNSNK', perevId=6, routeId=38),
 TransportVehicle(imei='355227046451019', name='H30', busNumber='275', remark='Тролейбус 275 DNSNTNK', perevId=6, routeId=38),
 TransportVehicle(imei='355227045600178', name='A121', busNumber='384', remark='Тролейбус 384 DNSNK', perevId=6, routeId=34),
 TransportVehicle(imei='355227045539541', name='A82', busNumber='6001', remark='6001 DNSNK', perevId=7, routeId=14),
 TransportVehicle(imei='355227046507778', name='A202', busNumber='5785', remark='5785 DNSNK', perevId=1, routeId=5),
 TransportVehicle(imei='355227046638821', name='A211', busNumber='1181', remark='1181 DNSNK', perevId=13, routeId=14),
 TransportVehicle(imei='355227046450995', name='H29', busNumber='365', remark='Тролейбус 365 DNSNTNK', perevId=6, routeId=38),
 TransportVehicle(imei='355227046314068', name='A185', busNumber='388', remark='Тролейбус 388 DNSNK', perevId=6, routeId=31),
 TransportVehicle(imei='355227045601002', name='A123', busNumber='!!!', remark='!!! DNSNK', perevId=7, routeId=19),
 TransportVehicle(imei='355227046451415', name='H47', busNumber='398', remark='Тролейбус 398 DNSNTNK', perevId=6, routeId=31),
 TransportVehicle(imei='355227046451449', name='H46', busNumber='397', remark='Тролейбус 397 DNSNTNK', perevId=6, routeId=25),
 TransportVehicle(imei='355227046451480', name='H41', busNumber='399', remark='Тролейбус 399 DNSNTNK', perevId=6, routeId=31),
 TransportVehicle(imei='355227045598570', name='А107', busNumber='1125', remark='1125 DNSNK', perevId=2, routeId=16),
 TransportVehicle(imei='355227045600582', name='A146', busNumber='385', remark='Тролейбус 385 DNSNK', perevId=6, routeId=31),
 TransportVehicle(imei='355227045600996', name='A168', busNumber='381', remark='Тролейбус 381 DNSNK', perevId=6, routeId=27),
 TransportVehicle(imei='355227046299129', name='A186', busNumber='389', remark='Тролейбус 389 DNSNK', perevId=6, routeId=31),
 TransportVehicle(imei='355228043199080', name='H103', busNumber='8716', remark='8716 DNSNTNK', perevId=12, routeId=48),
 TransportVehicle(imei='355227046451019', name='H30', busNumber='275', remark='Тролейбус 275 DNSNTNK', perevId=6, routeId=31),
 TransportVehicle(imei='355227046451472', name='H49', busNumber='394', remark='Тролейбус 394 DNSNTNK', perevId=6, routeId=37),
 TransportVehicle(imei='355228043022449', name='H94', busNumber='1099', remark='1099 DNSNTNK', perevId=12, routeId=45),
 TransportVehicle(imei='355227046453452', name='H9', busNumber='6802', remark='6802 DNSNTNK', perevId=1, routeId=7),
 TransportVehicle(imei='355227046451290', name='H36', busNumber='282', remark='Тролейбус 282 DNSNTNK', perevId=6, routeId=37),
 TransportVehicle(imei='355227046451274', name='H37', busNumber='361', remark='Тролейбус 361 DNSNTNK', perevId=6, routeId=31),
 TransportVehicle(imei='355227046490926', name='A198', busNumber='0985', remark='0985 DNSNK', perevId=1, routeId=4),
 TransportVehicle(imei='355227046451589', name='H4', busNumber='0987', remark='0987 DNSNTNK', perevId=1, routeId=9),
 TransportVehicle(imei='355227045541257', name='A57', busNumber='9043', remark='0325 DNSNK', perevId=2, routeId=12),
 TransportVehicle(imei='355227044854818', name='A17', busNumber='0741', remark='0741 DNSNK', perevId=2, routeId=16),
 TransportVehicle(imei='355228043162351', name='H107', busNumber='9138', remark='9138 DNSNTNK', perevId=12, routeId=45),
 TransportVehicle(imei='355227044854818', name='A17', busNumber='0741', remark='0741 DNSNK', perevId=2, routeId=12),
 TransportVehicle(imei='355227046447371', name='H65', busNumber='355', remark='Тролейбус 355 DNSNTNK', perevId=6, routeId=37),
 TransportVehicle(imei='355227045600855', name='A142', busNumber='377', remark='Тролейбус 377 DNSNK', perevId=6, routeId=37),
 TransportVehicle(imei='355227045594934', name='A112', busNumber='1116', remark='1116 DNSNK', perevId=1, routeId=9),
 TransportVehicle(imei='355227046451589', name='H4', busNumber='0987', remark='0987 DNSNTNK', perevId=1, routeId=20),
 TransportVehicle(imei='355227045539517', name='A100', busNumber='1173', remark='1173 DNSNK', perevId=1, routeId=20),
 TransportVehicle(imei='355227045539491', name='Am86', busNumber='1027', remark='1027 DNSNK', perevId=2, routeId=12),
 TransportVehicle(imei='355227044854818', name='A17', busNumber='0741', remark='0741 DNSNK', perevId=2, routeId=2),
 TransportVehicle(imei='355227046451167', name='H13', busNumber='9408', remark='9408 DNSNTNK', perevId=1, routeId=2)]

In [108]:
trans_operator in trans_routes_set

True

In [10]:
df_sum[["perevId", "perevName"]].value_counts().

perevId  perevName
1        Денисівка                    90233
6        ЧТУ                          79528
7        Віталій / Олег Бойко         31333
2        Тарас                        28719
12       Vitaliy2019                  27756
13       Олег Валентинович 39 марш    22663
dtype: int64

In [167]:
# sum_df.groupby('imei').size().reset_index(name='count').sort_values(['count'], ascending=False)